<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather | Now</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="container">
        <form action="">
            <input class="ghost-input" type="text" placeholder="Enter City">
            <input class="ghost-button" type="submit" value="Weather Now">
        </form>

        <p>The weather in New York is 70 C.</p>
    </div>
</body>

</html>